* {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  border-bottom-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.header-detail-table {
  border-collapse: collapse;
  border-style: hidden;
}

.header-detail-row td {
  border: 1px solid black;
  padding: 5px;
}

.experience-type-section {
  border-bottom-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.experience-type-entry {
  padding: 5px;
  position: relative;
}

.experience-type-entry-header {
  padding-bottom: 5px;
}

.experience-type-entry-setting {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.skill-category {
  font-weight: bold
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
  font-weight: normal;
}

h5 {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

h6 {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
}

li, td {
  font-size: 12px;
}